@import '../../index';

.container {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 100vh;
  background-color: var(--primary-bg);
  transition: transform 0.3s ease-in-out;
}

.container_row_heading {
  display: flex;
  margin-left: 3.5vw;
}

.container_row_heading > * {
  padding: 0.5vw;
}

.container_row {
  width: 100%;
  height: 6vh;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  border-left: 5px solid var(--primary-bg);
  align-items: center;
}

.row_content {
  width: 50%;
  height: 6vh;
  margin-left: 3.4vw;
  margin-top: 4vh;
  display: flex;
  align-items: center;
}

.container_row > * {
  margin-right: 1vw;
}

.container_row:hover {
  border-left: 5px solid var(--primary-color);
  background-color: var(--hover-bg);
  cursor: pointer;
}

.container_row > .icontext:hover {
  color: var(--primary-text);
}

.icon {
  margin-top: 4vh;
  height: 2.5vh;
  cursor: pointer;
}

.text {
  margin-top: 3.7vh;
  color: var(--primary-text);
  font-size: 1.25rem;
  font-weight: 600;
}

.container_text_row {
  margin-top: 2.5vh;
  margin-left: 3.4vw;
  color: var(--secondary-text);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.icondesign {
  flex: 1;
  margin-top: -2.3vh;
  height: 70%;
}

.icontext {
  margin-top: -3.8vh;
  flex: 2;
  color: var(--secondary-text);
  font-size: 0.8rem;
  font-weight: 600;
}

@media only screen and (max-width: $sm) {
  .container {
    width: 100%;
  }
}
