# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ui/node_modules

# testing
ui/coverage

# production
ui/build

# misc
.DS_Store
.env
env
venv

npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.lock
*.lock.json


*.pyc
__pycache__
migrations
db.sqlite3

.project
.pydevproject
.settings
.vscode
.coverage
htmlcov
