.container {
  margin-top: 8vh;
}

.carousel {
  padding: 4vh 3vw;
  width: 97%;
}

.card {
  background-color: var(--off-white);
  width: 235px;
  height: 200px;
  transition: scale 1s;
  box-shadow: 5.57653px 5.57653px 22.3061px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

.card img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}

.name {
  color: var(--primary-text);
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10%;
}
.club {
  color: var(--secondary-text);
  font-size: 0.9rem;
  text-align: center;
}
