html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

$sm: 700px;

:root {
  --primary-bg: white;
  --secondary-bg: #829bb0;

  --primary-text: #304455;
  --secondary-text: #889fb4;

  --primary-color: #d81f26;
  --secondary-color: white;

  --off-white: #f6f7fe;
  --input-bg: #bcd5eb36;
  --black-overlay: rgba(0, 0, 0, 0.65);
}

.dropdown__control {
  border: none !important;
  background-color: var(--primary-color) !important;
  width: fit-content !important;
  padding: 0 1vh !important;
  border-radius: 15px !important;
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
  margin-bottom: 2vh !important;
  margin-left: 3vw !important;
}

.dropdown__single-value {
  color: var(--secondary-color) !important;
}
.dropdown__indicator-separator {
  background: transparent !important;
}

.dropdown__menu {
  color: var(--primary-text) !important;
  width: fit-content !important;
  margin-left: 5%;
}
