@import '../../index';

.logoContainer {
  padding: 1rem;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.logo {
  width: 30px;
  height: 30px;
}
.container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  margin-bottom: 1rem;
}

.profileInfoContainer {
  height: fit-content;
  padding: 1vh;
  display: flex;
  align-items: center;
  margin-right: 5vh;
}

.profileInfoContainer img {
  width: 32px;
  border-radius: 50%;
}

.profileName {
  color: var(--primary-text);
  margin-left: 1vh;
}

.themeIcon {
  height: 32px;
  width: 32px;
  border-radius: 20px;
  // border: 2px solid rgb(104, 103, 103);
  padding: 3px;
}

@media only screen and (min-width: $sm) {
  .logoContainer {
    display: none;
  }
  .container {
    justify-content: flex-end;
  }
}
