.container {
  height: 100vh;
  width: 100vw;
  background-color: #f4f5f7;
  display: flex;
}
.dummyNav {
  width: 18%;
  background-color: pink;
}
.mainContent {
  width: 82%;
  padding: 0 4vw;
}

@media only screen and (max-width: 700px) {
  .dummyNav {
    display: none;
  }
  .mainContent {
    width: 100%;
  }
}
